Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)^n

In [ ]:
r = float(input("Enter the value of Radius : "))
n = float(input("Enter the value of n : "))
p = float(input("Enter the value of p : "))
a = float(p * (1 + (r / 100))** n)
print(a)

Enter the value of Radius : 10
Enter the value of n : 10
Enter the value of p : 2
5.187484920200005

In a given string format operation, how will you print the given string.

A = 10

B = 20

Str = "There are {} students in the class, with {} who play at least one sport."

In [10]:
A = 10
B = 20
print("There are %d students in the class, with %d who play at least one sport" %(A,B) )

There are 10 students in the class, with 20 who play at least one sport